<div class="post-archive">
  <% blog = false
     if posts.first.blog.permalink == 'blog' 
      blog = true
     end %>
  <% if blog %>
  <% posts.group_by(&:year).each do |year, posts_by_year| %>
  
    <h4 class="year"><%= link_to year, post_date_path(@blog, year) %></h4>
    <% index = 0 %>

    <% posts_by_year.group_by(&:month).each do |month, posts_by_month| %>
      <div class="month<%= ' alt' if (index += 1) % 2 == 0 %>">
        <h5 class="month"><%= link_to l(Date.new(year, month), :format => :month_year, :use_standalone_month_names => true ), post_date_path(@blog, year, month) %></h5>
        <ul class="archive">
          <% posts_by_month.group_by(&:day).each do |day, posts_by_day| %>
            <li>
              
              <ul class="posts">
                <% posts_by_day.each_with_index do |post, index| %>
                  <li><%= link_to h(post.title), post_seo_path(@blog, post) %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <br class="clear"/>
  <% end %>
  <% else %>
    <ul class="archive">
          
      <li>
              
        <ul class="posts sideList w100p">
          <% posts.each do |post| %>
        
            <li><%= link_to h(post.title), post_seo_path(@blog, post), :class => "facetLink" %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
