<% self.title = @category.name + " - " + @blog.name  %>
<% content_for :wrapper_class do %>blog<% end %>
<h1><%= @blog.name %> <i class="icon-angle-right"></i> <%=@category.name %></h1>
<!-- <div class="posts" > -->
<ul class="posts content asRows clearfix cb fw300" data-hook="post-categories-show">

  <%= render :partial => 'spree/blogs/shared/preview', :collection => @posts, :as => :post %>
  
  <!-- <br class="clear"/> -->

</ul>

<%= paginate @posts %>

<!-- </div>  --> 

<% content_for :sidebar do %>
  <%= render :partial => 'spree/blogs/shared/sidebar' %>
<% end %>
