<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t(:edit_blogs) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_blogs_list), admin_blogs_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render 'spree/shared/error_messages', :target => @blog %>

<%= form_for([:admin, @blog]) do |f| %>
<fieldset class="general no-border-top" data-hook="edit_blog">
  <%= render "form", :f => f %>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
</fieldset>
<% end %>

<%= render "spree/blogs/admin/shared/select_configuration_tab" unless request.xhr? %>
