<% content_for :page_title do %>
  <%= "Related Products" %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_orders_list), spree.admin_orders_path, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Related Products"} %>

<%= csrf_meta_tags %>

<div data-hook="admin_post_new_header">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @post } %>
</div>

<%= render :partial => 'add_product' %>

<div data-hook="admin_post_new_form">
  <div id="products-table-wrapper">
    <%= render :partial => 'related_products_table' %>
  </div>
</div>

<% content_for :head do %>
  <%= javascript_tag 'var expand_variants = true;' %>

  <script type="text/javascript">
    $(document).ready(function(){

      $("#add_product_to_post").on("click", function(){
        //if($('#add_variant_id').val() == ''){ return false; }
        update_target = $(this).attr("data-update");
        $.ajax({ dataType: 'text', url: this.href, type: "POST",
            data: {"variant_id": $('#add_variant_id').val(),
                   "taxon_id": $('#add_taxon_id').val()
            },
            success: function(response, xhr) {
              console.log(response);
              $('#products-table-wrapper').html(response);
              $('#add_product_name').val('');
              $('#add_variant_id').val('');
              $('#add_taxon_id').val('');
            }
        });
        return false;
      });

      $(".variant_autocomplete").variantAutocomplete();

    });
  </script>
<% end %>