<% content_for :page_title do %>
  <%= t(".editing_post") %> &ldquo;<%= @post.title %>&rdquo;
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_posts_list), admin_posts_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/contents_sub_menu' %>

<%= render :partial => 'spree/admin/shared/contents_tab' %>
<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Post Details"} %>
<%= render "spree/shared/error_messages", :target => @post %>

<%= form_for([:admin, @post], :html => { :multipart => true }) do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => {:f => f} %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
