<% content_for :page_actions do %>
  <li><%= button_link_to t(:back_to_post_images_list), admin_post_images_url, :icon => 'icon-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/contents_sub_menu' %>

<%= render "spree/shared/error_messages", :target => @post_image %>

<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Images"} %>

<%= form_for([:admin, @post.id, @post_image], :url => admin_post_image_url(@post, @post_image), :html => { :multipart => true }) do |f| %>
  <fieldset class="no-border-top">
    <legend align="center">Edit Image <%= @post_image.attachment_file_name %></legend>

    <div class="left four columns alpha" data-hook="admin_upload_form_right">
      <% if @post_image.image_content? %>
        <%= f.field_container :preview do %>
          <%= f.label :preview %>:<br/>
          <%= link_to image_tag(@post_image.attachment.url(:small)), @post_image.attachment.url(:original) %>
        <% end %>
      <% else %>
        <%= f.field_container :link do %>
          <%= f.label :link %>:<br/>
          <%= link_to @post_image.attachment_file_name, @post_image.attachment.url %>
        <% end %>
      <% end %>
    </div>

    <div class="right eight columns omega" data-hook="admin_upload_form_left">
      <%= render :partial => 'form', :locals => {:f => f} %>
    </div>

    <div class="clear"></div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>

  </fieldset>
<% end %>
